@media screen and (orientation: portrait) {

    .first,
    .second,
    .third {
        display: none;
    }

    .port-1 , .port-2 {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px;
    }
    .port-1{
        background-color: rgb(245, 235, 235);
    }
    .bi-list{
        font-size: 30px;
    }


    .pshop {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25PX;


    }

    aside {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }

    .bi-lightning-fill {
        color: gold;
    }

    .men,
    .kids {
        display: none;
    }

    .women {
        background-image: url("images/women-fashion.jpg");
        height: 600px;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: .9;
    }

    .text {
        color: white;
        font-size: 50px;
    }

    .button {

        font-size: 20px;
        background-color: white;
        border: 1px solid rgb(234, 238, 234);
        padding: 10px;
    }

    .women:hover {
        opacity: 1;
        cursor: pointer
    }

    .all-services {
        margin-top: 20px;
    }

    .service {
        display: flex;
        margin: 20px 0 20px 0;
    }

    .service-cat span {
        display: block;
    }

    .tag {
        color: orangered;
        margin-right: 30px;
        margin-left: 20px;
    }

    .service-name {
        font-weight: bold;
        display: block;

    }

    .description {
        color: rgb(91, 85, 85);
        margin-top: 10px;
    }

    .new-collection {
        text-align: center;
        margin-top: 30px;
    }

    #new {
        color: gray;
    }

    #desc {
        color: rgb(62, 57, 57);
    }

    h1 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* dress collection  */
    .dress-collecion {
        /* margin-left: 280px; */
        margin-top: 90px;
    }

    .small {
        height: 500px;
        width: 94%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin: 20px;
        box-shadow: 5px 5px 2px black;


    }

    .big {
        height: 500px;
        width: 93%;
        color: rgb(46, 41, 41);
        border: 2px solid red;
        display: flex;
        flex-direction: column;

        /* align-items: center; */
        justify-content: center;
        font-size: 20px;
        margin: 20px;
        box-shadow: 5px 5px 2px black;
        border: 1px solid black;

    }

    .first-img {
        background-image: url("images/girlwithbag.jpeg");
        background-size: cover;
    }

    .second-img {
        background-image: url("images/printedmansshirt.jpeg");
        background-size: cover;

    }

    .third-img {
        background-image: url("images/basicwomen.jpeg");
        background-size: cover;

    }

    .forth-img {
        background-image: url("images/girlredtshirt.jpeg");
        background-size: cover;

    }

    .dcsm-head {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .dcbig-head {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .big div {
        padding-left: 30px;
    }

    .offer {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background-color: orangered;
        color: white;
        padding: 30px;
        position: relative;
        bottom: 40%;
        left: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .thirty {
        font-size: 30px;
        margin-left: 10px;
    }

    /* top month seller */
    .top-month-seller {
        text-align: center;
        margin: 90px 0 90px 0;
    }

    .top-month-seller h1 {
        margin-bottom: 20px;
    }

    .category a {
        color: rgb(22, 19, 19);
        font-size: 20px;
        margin-right: 20px;
        text-decoration: none;
    }

    .cat-women:first-child {
        color: orangered;
        text-decoration: underline;
    }

    .category a:hover {
        color: orangered;

    }

    /* all shoping items  */
    .card {
        height: 350px;
        width: 230px;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7,
    .image8 {
        height: 200px;
        width: 220px;
        background-size: cover;
        margin-bottom: 20px;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7,
    .image8:hover {
        cursor: pointer;
    }

    .image1 {
        background-image: url("images/tms-1.jpg");
    }

    .image2 {
        background-image: url("images/tms-2.jpg");
    }

    .image3 {
        background-image: url("images/tms-3.jpg");
    }

    .image4 {
        background-image: url("images/tms-4.jpg");
    }

    .image5 {
        background-image: url("images/tms-5.jpg");
    }

    .image6 {
        background-image: url("images/tms-6.jpg");
    }

    .image7 {
        background-image: url("images/tms-7.jpg");
    }

    .image8 {
        background-image: url("images/tms-8.jpg");
    }

    .image1:hover {
        background-image: url("images/tmsh-1.png");
    }

    .image2:hover {
        background-image: url("images/tmsh-2.png");
    }

    .image3:hover {
        background-image: url("images/tmsh-3.png");
    }

    .image6:hover {
        background-image: url("images/tmsh-1.png");
    }

    .image7:hover {
        background-image: url("images/tmsh-7.png");
    }

    .prop,
    .sale {
        position: relative;
        bottom: 85%;
        width: 30px;
        /* border: 1px solid black; */
        padding: 2px 12px 2px 12px;
    }

    .prop {
        background-color: white;
        box-shadow: 5px 5px 2px black;

    }

    .sale {
        background-color: black;
        color: white;
    }


    .shortcut {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .shortcut span {
        display: inline-block;
        margin-right: 10px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: white;
        color: black;
        padding: 10px;
        text-align: center;

    }

    .shortcut span:hover {
        background-color: orangered;
        color: white;
    }

    .details span {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        /* margin-top: 20px; */

    }

    .item-name {
        color: gray;
    }

    .item-desc {
        font-weight: bold;
    }

    .item-price {
        color: gray;
        font-weight: bold;
    }

    .row1,
    .row2 {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-gap: 10px;
    }

    /* discover more   */
    .discover {
        font-weight: bold;
        border-bottom: 2px solid rgb(65, 62, 62);
        width: 190px;
        margin-left: 30%;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
    }

    .discover:hover {
        border-bottom: none;
        cursor: pointer;
    }

    /* summer collection  */
    .summer-collection {
        background-image: url("images/summer-collection.png");
        height: 400px;
        background-size: cover;
        text-align: left;
        padding-left: 10%;
    }

    .summer-collection h1 {
        padding-top: 100px;
    }

    button {
        background-color: black;
        color: white;
        padding: 20px;
        font-size: larger;
        margin-top: 50px;
    }

    /* What buyers say  */
    .buyers {
        margin-top: 5%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 60px;
    }

    .buyers p {
        color: gray;
    }

    .buyers-feedback {
        display: grid;
        grid-template-columns: 12fr;
        margin: 20px 100px 30px 70px;
    }

    .feedmob-1,
    .feedmob-2 {
        display: none;
    }


    .feedback-card {
        height: 350px;
        width: 300px;
        border: 1px solid rgb(226, 216, 216);
        padding: 20px;
    }

    .img-text {
        display: flex;
    }

    .feed-text {
        margin-left: 20px;
    }

    .feed-text .obj-name {
        color: gray;
    }

    .feed-text .obj-desc {
        color: black;
        font-weight: bold;
    }

    .yellow {
        color: goldenrod;
    }

    .gray {
        color: gray;
    }

    .comment {
        margin-top: 30px;

    }

    .name-time {
        margin-top: 30px;
    }

    /* four dot  */
    .four-dot {
        text-align: center;
        font-size: 50px;
    }


    .four-dot:first-child {
        color: orangered;
    }

    .orange-dot {
        color: orangered;
    }

    /* @shopper */
    .some-more-items {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 100px;
        background-color: rgb(210, 236, 236);
        padding: 50px 0 100px 0;
    }


    .items-card {
        height: 200px;
        width: 200px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 10px;

    }

    .sm1 {
        background-image: url("images/sm-1.jpg");
    }

    .sm2 {
        background-image: url("images/sm-2.jpg");
    }

    .sm3 {
        background-image: url("images/sm-3.jpg");
    }

    .sm4 {
        background-image: url("images/sm-4.jpg");
    }

    .sm5 {
        background-image: url("images/sm-5.jpg");
    }

    .sm6 {
        background-image: url("images/sm-6.jpg");
    }

    .items-card span {
        display: inline-block;
        margin-left: 10px;
        color: rgb(103, 252, 44);

    }

    .items-card:hover {
        opacity: .4;
        cursor: pointer;
    }

    .some-items {
        display: grid;
        grid-template-columns: 6fr 6fr;
    }

    .some-brand {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        margin: 20px;
    }

    .some-brand img {
        margin-top: 30px;
    }

    /* footer  */
    footer {
        background-color: black;
        color: white;
        height: 780px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 30px;
    }


    .footer div {
        display: flex;
    }

    .email {
        padding: 20px 100px 20px 20px;
        background-color: gray;
        border: none;
    }

    input::placeholder {
        color: white;
        font-size: 20px;
    }

    .submit {
        padding: 15px;
        background-color: gray;
        color: white;
        font-size: 20px;
        padding: 13px 20px 20px 20px;
        margin-left: 20px;
    }

    .input-el {
        margin-top: 20px;
    }

    .foot-left {
        text-align: left;
        margin: 30px;
    }


    .logo {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .foot-left span {
        display: inline-block;
        margin-right: 10px;
    }


    .foot-right {
        display: grid;
        grid-template-columns: 6fr 6fr;
    }

    .facilities {
        margin: 20px;

    }

    .facilities span {
        display: block;
        line-height: 30px;
        text-align: left;

    }

    .services {
        font-weight: bold;
        text-transform: uppercase;

    }

    /* copyright  card  */
    .copy-card {
        display: grid;
        grid-template-columns: 3fr 9fr;
        margin-top: 20px;
    }
    .banking-card img{
        width: 50px;
    }
    .copy{
        text-align: left;
    }




}
